.card-img-top{
  object-fit: cover;
  background-color: white;
}

#list_img {
  border: 1px solid black;
  filter: grayscale(30%);
}

#list_img:hover {
  filter: grayscale(0%);
}

.card {
  border: none;
  background-color: black;
  color: white;
  margin: 5px;
}

.container {
  padding-top: 60px;
}

#fighter-header {
  border: 1px solid black;
  border-radius: 2px;
}

#fighter-header-text {
  background-color: black;
  color: white;
  padding: 16px;
}

#back-up-link {
  text-align: center;
  text-decoration: none;
  color: grey;
}

#back-up-link:hover {
  color: black;
}

.swordfighter-link, .swordfighter-link:visited {
  text-decoration: none;
  color: white;
}
.swordfighter-link:hover {
  text-decoration: none;
  color:red;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid lightgray;
}

#error_page {
  text-align: center;
}

#nav_page_button {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  transition: 0,1s;
  padding-left: 6px;
  margin: 0 5px 0 5px;
}

#nav_page_button:hover {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.in_text_link {
  color: black;
}


#suggestion_status_red {
  background-color: red;
  width: 100%;
}

#suggestion_status_green {
  background-color: green;
  width: 100%;
}

#suggestion_status_blue {
  background-color: blue;
  width: 100%;
}

#suggestion_status_yellow {
  background-color: yellow;
  width: 100%;
}

#comment {
  background-color: aqua;
  margin: 5px;
}

#landing_hero{
  background-color: brown;
  padding: 10px 10px 0 10px;
}