.card-img-top{
  object-fit: cover;
  background-color: white;
}

.char-page-img {
  background-image: url('path/to/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

hr {
  margin: 10px 0px;
}

#upvote_counter_char_page{
  margin: 0;
}


#list_img {
  border: 1px solid #212529;
  filter: grayscale(30%);
}

#list_img:hover {
  filter: grayscale(0%);
  border-color: #DC3545;
}

.card {
  border: none;
  background-color: #212529;
  color: #F8F9FA;
  margin: 5px;
}

#content-area {
  position: absolute;
  top: 60px;
  bottom: 2px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

#fighter-header {
  border: 1px solid #212529;
  border-radius: 2px;
}

#fighter-header-text {
  background-color: #212529;
  color: white;
  padding: 16px;
}


#back-up-link {
  text-align: center;
  text-decoration: none;
  color: grey;
}

#back-up-link:hover {
  color: #212529;
}

.swordfighter-link, .swordfighter-link:visited {
  text-decoration: none;
  color: #FBFBFB;
}
.swordfighter-link:hover {
  text-decoration:underline;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid lightgray;
}

#error_page {
  text-align: center;
}

#nav_page_button {
  background-color: #212529;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  transition: 0,1s;
  padding-left: 6px;
  margin: 0 5px 0 5px;
}

#nav_page_button:hover {
  background-color: white;
  border: 1px solid #212529;
  border-radius: 5px;
  color: #212529;
}

.in_text_link {
  color: #212529;
}


.suggestion_status{
  width: 100%;
  cursor: initial;
}

#comment {
  background-color: aqua;
  margin: 5px;
}

#hero_text {
  text-align: center;
}
#hero_info .card-body {
  padding: 10px;
}

.row {
  margin-top: 5px;
}

.light-card {
  background-color: #F8F9FA;
  color: #212529;
  border: 1px solid #212529;
}

#comment-section {
  max-width: 686px;
  margin: auto;
  margin-top: 10px;
}
#comment-section .card-body {
  padding: 10px;
}
#comment-section .card-header {
  padding: 5px 10px;
}
#comment-section .card-title {
  margin: 0 0 5px;
}
#comment-section .card-text {
  margin: 0 0 5px;
}
