{% extends "base.html" %}

{% block content %}


{% if swordfighter.status == 1 or swordfighter.status == 1 %}
<a href="{% url 'home' %}" id="back-up-link"><h5>< Return to ranking</h5></a>
<div class="row" id="fighter-header">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="{{ swordfighter.profile_img.url }}" alt="Card image cap">
    </div>
    <div id="fighter-header-text" class="col-sm-6 col-md-6 col-lg-6">
        <h2>{{swordfighter.name}}, {{swordfighter.number_of_upvotes}}</h2>
        <h3>{{swordfighter.appears_on}}</h3>
        <p>{{swordfighter.description}}</p>
        {% if user.is_authenticated %}
            <form action="{% url 'swordfighter_upvote' swordfighter.slug %}" method="POST">
                {% csrf_token %}
            <button type="submit" name="swordfighter_id" value="{{swordfighter.slug}}">upvote</button>
            </form>
        {% else %}
            <button>
                Log in to upvote!
            </button>
        {% endif %}
    </div>
</div>
{% else %}
<div class="row" id="error_page">
    <h2>
        The page you are trying to access does not exist.
    </h2>
    <p><a href="{% url 'home' %}">Click here, to get back to ranking list.</a></p>
</div>
{% endif %}
{%endblock%}


