{% extends "base.html" %}

{% block content %}


<a href="{% url 'ranking' %}" id="back-up-link"><h5>< Return to ranking</h5></a>
<div class="row" id="fighter-header">
    <div class="col-lg-6">
        <div class="ratio ratio-4x3">
            <img class="card-img-top" src="{{ swordfighter.profile_img.url }}" alt="Card image cap">
        </div>
    </div>
    <div id="fighter-header-text" class="col-lg-6">
        <h2>{{swordfighter.name}}, {{swordfighter.number_of_upvotes}}</h2>
        <h3>{{swordfighter.appears_on}}</h3>
        <p>{{swordfighter.description}}</p>
            <form action="{% url 'swordfighter_upvote' swordfighter.slug %}" method="POST">
                {% csrf_token %}
            <button type="submit" name="swordfighter_id" value="{{swordfighter.slug}}" class="btn btn-light">upvote</button>
            </form>
    </div>
</div>

<!-- Commentform here -->
{% if user.is_authenticated %}
<form method="post">
    {{ comment_form.content }}
    {% csrf_token %}
    <button type="submit">{{button_name}}</button>
</form>
{% else %}
<form method="post">
    {{ comment_form.content }}
    {% csrf_token %}
    <a href="{% url 'account_login' %}" class="btn btn-dark">{{button_name}}</a>
</form>
{% endif %}
{% for comment in comments %}
<div class="row">
    <div class="card text-dark bg-light mb-3">
        <div class="card-header">
            {{comment.submitted_on_date}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{comment.submitted_by}}</h5>
            <p class="card-text">{{comment.content}}</p>
            {% if user.is_authenticated %}
                {% if comment.submitted_by == current_user.username %}
                    <form action="{% url 'delete_comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                {% else %}
                    <form class="d-inline" action="{% url 'flag_comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        {% if comment.id in flagged_comments %}
                            <button type="submit" name="comment_id" value="{{comment.id}}" class="btn-like">Flagged</button>
                        {% else %}
                            <button type="submit" name="comment_id" value="{{comment.id}}" class="btn-like">flag this comment</button>
                        {% endif %}
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{%endblock%}








