{% extends "base.html" %}

{% block content %}


{% if swordfighter.status == 1 or swordfighter.status == 2 %}
<a href="{% url 'ranking' %}" id="back-up-link"><h5>< Return to ranking</h5></a>
<div class="row" id="fighter-header">
    <div class="col-lg-6">
        <div class="ratio ratio-4x3">
            <img class="card-img-top" src="{{ swordfighter.profile_img.url }}" alt="Card image cap">
        </div>
    </div>
    <div id="fighter-header-text" class="col-lg-6">
        <h2>{{swordfighter.name}}, {{swordfighter.number_of_upvotes}}</h2>
        <h3>{{swordfighter.appears_on}}</h3>
        <p>{{swordfighter.description}}</p>
        {% if user.is_authenticated %}
            <form action="{% url 'swordfighter_upvote' swordfighter.slug %}" method="POST">
                {% csrf_token %}
            <button type="submit" name="swordfighter_id" value="{{swordfighter.slug}}">upvote</button>
            </form>
        {% else %}
        <a href="{% url 'account_login' %}">
            <button>
                 Log in to upvote!
            </button>
        </a>
        {% endif %}
    </div>
</div>
{% else %}
<div class="row" id="error_page">
    <h2>
        The page you are trying to access does not exist.
    </h2>
    <p><a href="{% url 'home' %}">Click here, to get back to ranking list.</a></p>
</div>
{% endif %}

<!-- Commentform here -->

<form method="post">
    {{ comment_form.content }}
    {% csrf_token %}
    <button type="submit">Submit me</button>
</form>

{% for comment in comments %}
<div class="row">
    <div class="card text-dark bg-light mb-3">
        <div class="card-header">{{comment.submitted_on_date}}</div>
        <div class="card-body">
          <h5 class="card-title">{{comment.submitted_by}}</h5>
          <p class="card-text">{{comment.content}}</p>
        <form class="d-inline" action="{% url 'flag_comment' comment.id %}" method="POST">
            {% csrf_token %}
            {% if comment.id in flagged_comments %}
            <button type="submit" name="comment_id" value="{{comment.id}}" class="btn-like">Flagged</button>
            {% else %}
            <button type="submit" name="comment_id" value="{{comment.id}}" class="btn-like">flag this comment</button>
            {% endif %}
        </form>
        </div>
        <form action="{% url 'delete_comment' comment.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>
</div>
{% endfor %}

{%endblock%}








