{% extends "base.html" %}

{% block content %}
<div class="row">
    {% if user.is_authenticated %}
    <h2>
        Contribute
    </h2>
    <form method="post" enctype="multipart/form-data">
        {{ swordfighter_form.as_p }}
        {% csrf_token %}
        <br>
        <button type="submit">Submit me</button>
        <br>
        <br>
        {% for suggestion in suggestions %}
            <h1>{{ suggestion.name }}</h1>
            <p>{{ suggestion.status }}</p>
        {% endfor %}
    </form>
    {% else %}
    <h2>
        You need to sign in to Contribute
    </h2>
    <form method="post" enctype="multipart/form-data" disabled>
        {{ swordfighter_form.as_p }}
        {% csrf_token %}
    </form>
    <a href=" {% url 'account_login' %}"><button>Sign in</button></a>
    {% endif %}



</div>
{%endblock%}




