{% extends "base.html" %}

{% block content %}
<div id="landing_hero" class="card mb-3">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Who is the greatest sword fighter?</h5>
        <ul>
          <li>View the current ranking</li>
          <li>Click on the fighters to learn more</li>
          <li>Sign up or Sign in to
            <ul>
              <li>Comment</li>
              <li>Contribute</li>
            </ul>
          </li>
        </ul>
        </div>
    </div>
    <div class="col-md-4">
      <img src="../static/images/hero_img.png" class="img-fluid rounded-start" alt="masked_swordfighter">
    </div>
  </div>
</div>
<div id="ranking_list" class="card-group">
{% for swordfighter in swordfighter_list %}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card"  id="swordfighter-card">
        <a href="{% url 'swordfighter_detail' swordfighter.slug %}" class="swordfighter-link">
          <div class="card-body ratio ratio-4x3">
            <img id="list_img" class="card-img-top" src="{{ swordfighter.profile_img.url }}" alt="Card image cap">
          </div>
        </a>
          <div class="card-body">
          <a href="{% url 'swordfighter_detail' swordfighter.slug %}" class="swordfighter-link">
            <h5 class="card-title">#{{forloop.counter}} - {{swordfighter.name}}, {{swordfighter.number_of_upvotes}}</h5>
          </a>
          <p class="card-text"><small class="text-white">{{swordfighter.appears_on}}</small></p>
          {% if user.is_authenticated %}
          <form action="{% url 'swordfighter_upvote' swordfighter.slug %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="swordfighter_id" value="{{swordfighter.slug}}">upvote</button>
          </form>
          {% else %}
          <a href=" {% url 'account_login' %}"><button>Sign in to upvote!</button></a>
          {% endif %}
        </div>
    </div>
  </div>

{% endfor %}
</div>
{%endblock%}